autumn/*/cs/a/a.csproj
autumn/*/cs/a/bin
autumn/*/cs/a/obj
autumn/*/cs/b/b.csproj
autumn/*/cs/b/bin
autumn/*/cs/b/obj
autumn/*/cs/c/bin
autumn/*/cs/c/c.csproj
autumn/*/cs/c/obj
autumn/*/rs/a/Cargo.lock
autumn/*/rs/b/Cargo.lock
autumn/*/rs/c/Cargo.lock
