**/c-sharp/a/a.csproj
**/c-sharp/a/bin
**/c-sharp/a/obj
**/c-sharp/b/b.csproj
**/c-sharp/b/bin
**/c-sharp/b/obj
**/c-sharp/bin
**/c-sharp/c-sharp.csproj
**/c-sharp/c/bin
**/c-sharp/c/c.csproj
**/c-sharp/c/obj
**/c-sharp/d/bin
**/c-sharp/d/d.csproj
**/c-sharp/d/obj
**/c-sharp/obj
**/cs/a/a.csproj
**/cs/a/bin
**/cs/a/obj
**/cs/b/b.csproj
**/cs/b/bin
**/cs/b/obj
**/cs/bin
**/cs/obj
**/d/.dub
**/d/dub.selections.json
**/dart/.dart_tool
**/dart/.packages
**/dart/pubspec.lock
**/rust/Cargo.lock
**/rust/a/Cargo.lock
**/rust/a/target
**/rust/b/Cargo.lock
**/rust/b/target
**/rust/c/Cargo.lock
**/rust/c/target
**/rust/target
*.exe
docs/**/*.cs
docs/**/*.d
docs/**/*.dart
docs/**/*.go
docs/**/*.js
docs/**/*.nim
docs/**/*.php
docs/**/*.ps1
docs/**/*.py
docs/**/*.rb
docs/**/*.rs
docs/**/*.txt
