{{ define "main" -}}
<h1>{{ .Title }}</h1>
<table>
   <tr>
      <th>Stars</th>
      <th>Language</th>
      <th>Topics</th>
   </tr>
{{ range sort .Pages "Params.stars" "desc" }}
   {{- if .Pages }}
   <tr>
      <td>{{ .Params.stars }}</td>
      <td>
         <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </td>
      <td>{{ len .Pages }}</td>
   </tr>
   {{- end -}}
{{ end -}}
</table>
<table>
   <tr>
      <th>Stars</th>
      <th>Draft language</th>
   </tr>
{{ range sort .Pages "Params.stars" "desc" }}
   {{- if not .Pages }}
   <tr>
      <td>{{ .Params.stars }}</td>
      <td>
         <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </td>
   </tr>
   {{- end }}
{{ end }}
</table>
{{ end -}}
