<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome }}
   <title>Autumn / comparison of programming languages</title>
{{ else }}
   <title>{{ printf "%v / %v" .Parent.Title .Title }}</title>
{{ end }}
   <link rel="icon" href="/autumn/favicon.png">
   <link rel="stylesheet" href="/autumn/main.css">
</head>
<body>
   <header class="{{ .Kind }}">
{{ if .IsHome }}
      <h1><a href="/autumn">Autumn</a></h1>
{{ else }}
      <h2><a href="/autumn">Autumn</a></h2>
{{ end }}
      <a href="/autumn/categories">Categories</a>
      <a href="/autumn/tags">Tags</a>
      <a href="https://github.com/nu8/autumn">Repository</a>
   </header>
   <main class="{{ .Kind }}">{{ block "main" . }}{{ end }}</main>
{{ if .IsHome }}
   <footer>
   {{ range $.Paginator.Pagers }}
      <a href="{{ .URL }}">{{ .PageNumber }}</a>
   {{ end }}
   </footer>
{{ end }}
</body>
</html>
