<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome -}}
   <title>Autumn</title>
{{- else -}}
   <title>{{ .Title }} &middot; Autumn</title>
{{- end }}
   <link rel="icon" href="/autumn/favicon.png">
   <link rel="stylesheet" href="/autumn/autumn.css">
</head>
<body class="{{ .Site.Params.themeColor }}">
   <header>
      <h1>
         <a href="/autumn">Autumn</a>
      </h1>
      <p>Comparison of programming languages</p>
      <nav>
         <a href="/autumn/topics">Topics</a>
         <a href="/autumn/langs">Langs</a>
         <a href="https://github.com/muv1/autumn">Repo</a>
      </nav>
   </header>
{{ block "main" . }}{{ end }}
</body>
</html>
