<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .IsHome }}
   <title>Autumn | comparison of programming languages</title>
{{ else }}
   <title>{{ printf "%v / %v" .Parent.Title .Title }}</title>
{{ end }}
   <link rel="icon" href="/autumn/favicon.png">
   <link rel="stylesheet" href="/autumn/main.css">
</head>
<body class="base">
   <header class="base">
{{ block "head" . }}{{ end }}
      <a class="base" href="/autumn/categories">Categories</a>
      <a class="base" href="/autumn/tags">Tags</a>
      <a class="base" href="https://github.com/nu8/autumn">Repository</a>
   </header>
{{ block "main" . }}{{ end }}
{{ block "foot" . }}{{ end }}
</body>
</html>
