{{ define "main" }}
<main>
   <article class="index">
   {{- range (.Paginate .Pages.ByLastmod.Reverse 24).Pages }}
      <section class="index">
         <h2>
            <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
         </h2>
         <time>{{ .Lastmod.Format "Mon Jan 2 2006" }}</time>
         <nav class="category">
      {{ range (.GetTerms "categories") }}
            <a class="category" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
         </nav>
      </section>
   {{ end }}
   </article>
</main>
<footer>
   {{ template "_internal/pagination.html" . }}
</footer>
{{ end }}
