{{ define "main" }}
<!--
localhost:1313/autumn/categories/string
localhost:1313/autumn/tags/go
localhost:1313/autumn/tags/proposal
-->
<h1>{{ .Title }}</h1>
   {{ with (.GetPage (path.Join "talk" .Path)) }}
<a href="{{ .RelPermalink }}">Talk</a>
   {{ end }}
<table>
   {{ range .Pages.ByTitle }}
   <tr>
      {{ $p := .Parent }}{{ if isset .Params "date" }}{{ $p = . }}{{ end }}
      <td><a href="{{ .RelPermalink }}">{{ $p.Title }}</a></td>
      <td class="{{ .Kind }}">{{ $p.Lastmod.Format "Mon Jan 2 2006" }}</td>
   </tr>
   {{ end }}
</table>
{{ end }}
