pre {
   background: #272822;
}
code,
tbody tr:nth-child(odd) td {
   background: #f9f9f9;
}
table {
   border-collapse: collapse;
}
blockquote,
table,
td,
th {
   border-color: #e5e5e5;
}
.highlight,
.pagination li a,
code,
img,
main nav a {
   border-radius: 5px;
}
section {
   border-radius: 10px;
}
blockquote,
hr,
section,
table,
td,
th {
   border-style: solid;
}
table,
td,
th {
   border-width: 1px;
}
section.index {
   border-width: thick;
}
a {
   color: #268bd2;
}
strong {
   color: #303030;
}
h1,
h2 {
   color: #313131;
}
body {
   color: #515151;
}
blockquote {
   color: #7a7a7a;
}
time {
   color: #9a9a9a;
}
code {
   color: #bf616a;
}
header a,
pre {
   color: #f8f8f2;
}
header p {
   color: rgba(255, 255, 255, .5);
}
.theme-base-08 .pagination .active a {
   color: white;
}
article, header nav {
   display: flex;
}
.pagination .disabled {
   display: none;
}
header nav a,
section.terms {
   flex-basis: 200px;
}
section.index {
   flex-basis: 400px;
}
article, header nav {
   flex-wrap: wrap;
}
html {
   font-family: Arial, sans-serif;
}
code,
pre {
   font-family: "Courier New", monospace;
}
.pagination li,
pre {
   font-size: .8rem;
}
header p, header nav {
   font-size: 1.2rem;
}
header h1 {
   font-size: 2.6rem;
}
h1,
h2 {
   font-weight: bold;
}
article, header nav {
   justify-content: center;
}
body,
h1,
h2,
html {
   margin-bottom: 0;
}
.pagination li,
section {
   margin-bottom: .5rem;
}
.highlight,
blockquote,
ol,
p,
pre,
table,
ul {
   margin-bottom: 1rem;
}
hr {
   margin-bottom: 1.5rem;
}
body,
h1,
h2,
html {
   margin-left: 0;
}
.pagination li,
section {
   margin-left: .5rem;
}
body,
h1,
h2,
html {
   margin-right: 0;
}
.pagination li,
section {
   margin-right: .5rem;
}
body,
h1,
h2,
html {
   margin-top: 0;
}
.pagination li,
section {
   margin-top: .5rem;
}
blockquote,
main nav {
   margin-top: 1rem;
}
hr {
   margin-top: 1.5rem;
}
pre {
   overflow: auto;
}
body,
html,
pre code {
   padding-bottom: 0;
}
main nav a {
   padding-bottom: 8px;
}
code,
td,
th {
   padding-bottom: .25rem;
}
.pagination li a,
blockquote,
main {
   padding-bottom: .5rem;
}
header,
pre,
section {
   padding-bottom: 1rem;
}
body,
html,
pre code {
   padding-left: 0;
}
.pagination li a,
code,
main,
td,
th {
   padding-left: .5rem;
}
blockquote,
header,
main nav a,
pre,
section {
   padding-left: 1rem;
}
body,
html,
pre code {
   padding-right: 0;
}
.pagination li a,
code,
main,
td,
th {
   padding-right: .5rem;
}
blockquote,
header,
main nav a,
pre,
section {
   padding-right: 1rem;
}
body,
html,
pre code {
   padding-top: 0;
}
code,
td,
th {
   padding-top: .25em;
}
.pagination li a,
blockquote,
main nav a,
main {
   padding-top: .5rem;
}
header,
pre,
section {
   padding-top: 1rem;
}
header, footer {
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
pre {
   word-break: break-all;
}
pre {
   word-wrap: break-word;
}
