:root {
   --light-red: hsl(359, 45%, 90%);
   --red: hsl(359, 45%, 46%);
}
.theme-base-08 a.category,
.theme-base-08 .page-link {
   background: var(--light-red);
}
.theme-base-08 .active .page-link,
.theme-base-08 .tag,
.theme-base-08 header {
   background: var(--red);
}
.theme-base-08 section {
   border-color: var(--red);
}
.theme-base-08 .tag {
   color: var(--light-red);
}
.theme-base-08 .category,
.theme-base-08 .title,
.theme-base-08 :not(.active) > .page-link,
.theme-base-08 p code {
   color: var(--red);
}
