:root {
   --gray-25: hsl(0, 0%, 25%);
   --gray-60: hsl(0, 0%, 60%);
   --gray-80: hsl(0, 0%, 80%);
   --ivory: hsl(60, 30%, 95%);
   --light-red: hsl(0, 45%, 90%);
   --red: hsl(0, 45%, 45%);
}
header,
section.index,
section.sect,
section.sing {
   align-items: center;
}
a.sing,
article.terms,
footer > ul > li,
section.index > a,
section.sect > a,
tr:nth-child(odd) > td {
   background: var(--light-red);
}
header,
nav.sect > a {
   background: var(--red);
}
table {
   border-collapse: collapse;
}
td {
   border-color: var(--gray-80);
}
article.index {
   border-color: var(--red);
}
a.sing,
article.index,
article.terms,
footer > ul > li,
nav.sect > a,
section.index > a,
section.sect > a {
   border-radius: .5rem;
}
article.index,
td {
   border-style: solid;
}
article.index {
   border-width: thick;
}
h1.sect,
h1.sing,
h1.terms,
section.terms,
time.taxon {
   color: var(--gray-25);
}
time {
   color: var(--gray-60);
}
h1.base > a,
h2.base > a,
header > a {
   color: var(--ivory);
}
nav.sect > a {
   color: var(--light-red);
}
a.sing,
a.taxon,
article.terms > a,
footer > ul > li > a,
h2.index > a,
main.base > a,
section.index > a,
section.sect > a,
td > a {
   color: var(--red);
}
footer > ul,
header,
nav.index,
nav.sect,
nav.terms,
section.index,
section.sect,
section.sing {
   display: flex;
}
article.index {
   flex-basis: 400px;
}
header,
nav.index,
nav.sect,
nav.terms {
   flex-wrap: wrap;
}
body.base {
   font-family: sans-serif;
}
a.taxon,
main.base > a,
table,
time {
   font-size: 1.2rem;
}
footer,
header > a,
nav.sect,
nav.terms {
   font-size: 1.4rem;
}
h2.base {
   font-size: 2rem;
}
h1.base {
   font-size: 3rem;
}
footer > ul,
nav.index {
   justify-content: center;
}
header {
   justify-content: space-evenly;
}
h1.base,
h2.base {
   margin-bottom: 0;
}
article.index,
div.base,
h1.sing,
h2.index,
header {
   margin-bottom: .5rem;
}
h1.sect,
nav.sect > a {
   margin-bottom: 1rem;
}
body.base {
   margin-bottom: 2rem;
}
body.base {
   margin-left: 0;
}
article.index,
article.terms,
footer > ul > li,
main.base {
   margin-left: .5rem;
}
header > a {
   margin-left: 1rem;
}
body.base {
   margin-right: 0;
}
article.index,
article.terms,
footer > ul > li {
   margin-right: .5rem;
}
a.sing,
nav.sect > a,
section.index > a,
time {
   margin-right: 1rem;
}
body.base,
h1.base,
h2.base {
   margin-top: 0;
}
article.index {
   margin-top: .5rem;
}
article.terms,
nav.sect,
section.terms,
table {
   margin-top: 1rem;
}
div.base {
   opacity: 0.5;
}
a.sing,
footer > ul > li,
header.h2,
section.index > a,
section.sect > a,
td {
   padding-bottom: .5rem;
}
article.index,
article.terms,
header.h1,
nav.sect > a {
   padding-bottom: 1rem;
}
a.sing,
article.index,
article.terms,
footer > ul > li,
nav.sect > a,
section.index > a,
section.sect > a,
td {
   padding-left: 1rem;
}
a.sing,
article.terms,
footer > ul > li,
nav.sect > a,
section.index > a,
section.sect > a,
td {
   padding-right: 1rem;
}
a.sing,
footer > ul > li,
header.h2,
section.index > a,
section.sect > a,
td {
   padding-top: .5rem;
}
article.terms,
header.h1,
nav.sect > a {
   padding-top: 1rem;
}
nav.terms {
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
