:root {
   --gray-30: hsl(0, 0%, 30%);
   --gray-60: hsl(0, 0%, 60%);
   --gray-80: hsl(0, 0%, 80%);
   --ivory: hsl(60, 30%, 95%);
   --light-red: hsl(0, 45%, 90%);
   --red: hsl(0, 45%, 45%);
}
header,
section {
   align-items: center;
}
a.sing,
footer.index > ul > li,
section.index > a,
section.sect > a,
tr:nth-child(odd) > td {
   background: var(--light-red);
}
header,
nav.sect > a {
   background: var(--red);
}
table.taxon,
table.terms {
   border-collapse: collapse;
}
td {
   border-color: var(--gray-80);
}
article.index {
   border-color: var(--red);
}
a.sing,
article.index,
footer.index > ul > li,
nav.sect > a,
section.index > a,
section.sect > a {
   border-radius: .5rem;
}
article.index,
td.taxon,
td.terms {
   border-style: solid;
}
article.index {
   border-width: thick;
}
main.sing > p > a {
   color: var(--red);
}
h1.sect,
h1.sing,
h1.terms,
main.sing > h2,
td {
   color: var(--gray-30);
}
time {
   color: var(--gray-60);
}
h1.base > a,
h2.base > a,
h2.terms > a,
header > a {
   color: var(--ivory);
}
nav.sect > a {
   color: var(--light-red);
}
a.sing,
a.taxon,
footer.index > ul > li > a,
h2.index > a,
main.terms > a,
section.index > a,
section.sect > a,
td.terms > a {
   color: var(--red);
}
footer.index > ul,
header,
main.index,
nav.sect,
section {
   display: flex;
}
section.terms {
   flex-basis: 200px;
}
article.index {
   flex-basis: 400px;
}
header,
main.index,
nav.sect {
   flex-wrap: wrap;
}
body.base {
   font-family: sans-serif;
}
main.sing > div.highlight {
   font-size: 1rem;
}
a.taxon,
main.terms > a,
table,
time {
   font-size: 1.2rem;
}
footer.index,
header > a,
nav.sect {
   font-size: 1.4rem;
}
h2.base {
   font-size: 2rem;
}
h1.base {
   font-size: 3rem;
}
footer.index > ul,
main.index {
   justify-content: center;
}
header {
   justify-content: space-evenly;
}
main.sing > ul {
   line-height: 1.4rem;
}
h1.base,
h2.base {
   margin-bottom: 0;
}
article.index,
div.base,
h1.sing,
h2.index,
header {
   margin-bottom: .5rem;
}
h1.sect,
nav.sect > a {
   margin-bottom: 1rem;
}
body.base {
   margin-bottom: 2rem;
}
body.base {
   margin-left: 0;
}
article.index,
footer.index > ul > li,
h1.sing,
main.sing > div.highlight,
main.sing > p,
main.sing > h2,
time.sing {
   margin-left: .5rem;
}
header > a,
main.sect,
main.taxon,
main.terms {
   margin-left: 1rem;
}
body.base {
   margin-right: 0;
}
article.index,
footer.index > ul > li,
main.sing > div.highlight {
   margin-right: .5rem;
}
a.sing,
nav.sect > a,
section.index > a,
time {
   margin-right: 1rem;
}
body.base,
h1.base,
h2.base {
   margin-top: 0;
}
article.index {
   margin-top: .5rem;
}
nav.sect,
table {
   margin-top: 1rem;
}
div.base {
   opacity: 0.5;
}
a.sing,
footer.index > ul > li,
header.h2,
section.index > a,
section.sect > a,
td {
   padding-bottom: .5rem;
}
article.index,
header.h1,
main.sing > div > pre,
nav.sect > a {
   padding-bottom: 1rem;
}
a.sing,
article.index,
footer.index > ul > li,
main.sing > div > pre,
nav.sect > a,
section.index > a,
section.sect > a,
td {
   padding-left: 1rem;
}
main.sing > ul {
   padding-left: 2rem;
}
a.sing,
footer.index > ul > li,
nav.sect > a,
section.index > a,
section.sect > a,
td {
   padding-right: 1rem;
}
a.sing,
footer.index > ul > li,
header.h2,
section.index > a,
section.sect > a,
td {
   padding-top: .5rem;
}
header.h1,
main.sing > div > pre,
nav.sect > a {
   padding-top: 1rem;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
