pre {
   /* non highlight */
   background: #272822;
}
blockquote {
   background: #ddd;
}
p code {
   background: #eee;
}
tr:nth-child(odd) td {
   background: #f9f9f9;
}
table {
   border-collapse: collapse;
}
table,
td,
th {
   border-color: #e5e5e5;
}
.highlight,
.page-link,
a.category,
code {
   border-radius: 5px;
}
.tag,
section {
   border-radius: 10px;
}
section,
table,
td,
th {
   border-style: solid;
}
section.index {
   border-width: thick;
}
a {
   color: #268bd2;
}
h1,
h2,
strong {
   color: #313131;
}
body {
   color: #515151;
}
time {
   color: #9a9a9a;
}
.active .page-link,
.light,
pre code,
pre {
   color: #f8f8f2;
}
.pagination,
article,
nav.header,
nav.section {
   display: flex;
}
.pagination .disabled {
   display: none;
}
.header a,
section.terms {
   flex-basis: 200px;
}
section.index {
   flex-basis: 400px;
}
article,
nav.section {
   flex-wrap: wrap;
}
body {
   font-family: sans-serif;
}
code,
pre {
   font-size: 1rem;
}
p,
table,
ul {
   font-size: 1.2rem;
}
header p,
nav.header {
   font-size: 1.4rem;
}
.tag,
h2 {
   font-size: 1.6rem;
}
.pagination,
article.index,
nav.header {
   justify-content: center;
}
h1,
h2 {
   margin-bottom: 0;
}
.pagination li,
h1.section,
h1.term,
nav.category,
section {
   margin-bottom: .5rem;
}
.highlight,
.tag,
ol,
pre,
table,
ul {
   margin-bottom: 1rem;
}
body {
   margin-left: 0;
}
.pagination li,
.tag,
h1.section,
h1.term,
h2[id],
p,
pre,
section,
time.section {
   margin-left: .5rem;
}
.talk,
table {
   margin-left: 1rem;
}
body {
   margin-right: 0;
}
.pagination li,
pre,
section {
   margin-right: .5rem;
}
.tag,
time.section {
   margin-right: 1rem;
}
body,
h1,
h2 {
   margin-top: 0;
}
.pagination li,
header p,
nav.section,
section {
   margin-top: .5rem;
}
.tag,
nav.category,
table {
   margin-top: 1rem;
}
p.light {
   opacity: .5;
}
pre {
   overflow: auto;
}
code {
   padding-bottom: .25rem;
}
.page-link,
a.category,
blockquote,
td {
   padding-bottom: .5rem;
}
.tag,
header,
pre,
section {
   padding-bottom: 1rem;
}
pre code {
   padding-left: 0;
}
code {
   padding-left: .5rem;
}
.page-link,
.tag,
a.category,
blockquote,
header,
pre,
section,
td {
   padding-left: 1rem;
}
code {
   padding-right: .5rem;
}
.page-link,
.tag,
a.category,
blockquote,
header,
pre,
section,
td {
   padding-right: 1rem;
}
code,
td,
th {
   padding-top: .25em;
}
.page-link,
a.category,
blockquote,
header {
   padding-top: .5rem;
}
.tag,
pre,
section {
   padding-top: 1rem;
}
footer,
header {
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
