pre {
   background-color: #272822;
}
code {
   background-color: #f9f9f9;
}
hr {
   border-bottom: 1px solid #fff;
}
blockquote {
   border-left: .25rem solid #e5e5e5;
}
.highlight,
code {
   border-radius: 4px;
}
hr {
   border-top: 1px solid #eee;
}
a {
   color: #268bd2;
}
strong {
   color: #303030;
}
h1, h2, h3, h4 {
   color: #313131;
}
body {
   color: #515151;
}
blockquote {
   color: #7a7a7a;
}
code {
   color: #bf616a;
}
pre {
   color: #f8f8f2;
}
.column {
   column-count: 2;
}
html {
   font-family: Arial, sans-serif;
}
code,
pre {
   font-family: "Courier New", monospace;
}
@media (max-width: 38em) {
   html {
      font-size: 16px;
   }
}
@media (min-width: 38em) {
   html {
      font-size: 20px;
   }
}
pre {
   font-size: .8rem;
}
header h1 {
   font-size: 2.6rem;
}
h1, h2 {
   font-weight: bold;
}
body,
h1,
h2,
html {
   margin: 0;
}
.highlight,
blockquote,
ol,
p,
pre,
ul {
   margin-bottom: 1rem;
}
hr {
   margin-bottom: 1.5rem;
}
blockquote {
   margin-top: .8rem;
}
hr {
   margin-top: 1.5rem;
}
pre {
   overflow: auto;
}
body,
html,
pre code {
   padding: 0;
}
pre {
   padding: 1rem;
}
code {
   padding-bottom: .25em;
}
code {
   padding-left: .5rem;
}
@media (max-width: 30em) {
   blockquote {
      padding-left: 1rem;
   }
}
@media (min-width: 30em) {
   blockquote {
      padding-left: 1.25rem;
   }
}
code {
   padding-right: .5rem;
}
@media (max-width: 30em) {
   blockquote {
      padding-right: 1rem;
   }
}
@media (min-width: 30em) {
   blockquote {
      padding-right: 5rem;
   }
}
code {
   padding-top: .25em;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
pre {
   word-break: break-all;
}
pre {
   word-wrap: break-word;
}
/*****************************************************************************/
blockquote {
   padding-bottom: .5rem;
}
blockquote {
   padding-top: .5rem;
}
img {
   display: block;
   margin: 0 0 1rem;
   border-radius: 5px;
   max-width: 100%;
}
table {
   border: 1px solid #e5e5e5;
   border-collapse: collapse;
   margin-bottom: 1rem;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
header a {
   color: #fff;
}
header p {
   color: rgba(255, 255, 255, .5);
}
header p, header nav {
   font-size: 1.2rem;
}
header nav a {
   flex-basis: 200px;
}
article, header nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
time {
   color: #9a9a9a;
}
main nav {
   margin-top: 1rem;
}
main nav a {
   border-radius: 4px;
   padding: 8px 16px;
}
header {
   padding: 1rem;
}
main {
   padding: .5rem;
}
header, footer {
   text-align: center;
}
.pagination li {
   display: inline-block;
   font-size: .875rem;
   margin: .5rem;
}
.pagination .disabled {
   display: none;
}
.pagination li a {
   border-radius: 3px;
   padding: .5rem .625rem;
}
/* red */
.theme-base-08 header {
   background: #ac4142;
}
.theme-base-08 main a {
   color: #ac4142;
}
.theme-base-08 main nav a {
   background-color: #ac414233;
}
.theme-base-08 .pagination a {
   background: #ac414233;
   color: #ac4142;
}
.theme-base-08 .pagination .active a {
   background: #ac4142;
   color: white;
}
.theme-base-08 section {
   border-color: #ac4142;
}
/*****************************************************************************/
section {
   border-radius: 10px;
   border-style: solid;
   margin: .5rem;
   padding: 1rem;
}
section.index {
   border-width: thick;
   flex-basis: 400px;
}
section.terms {
   flex-basis: 200px;
}
