body {
   --blue-dark: hsl(240, 88%, 38%);
   --blue-light: hsl(228, 100%, 87%);
   --gray-dark: hsl(0, 0%, 25%);
   --gray-light: hsl(0, 0%, 80%);
   --gray-medium: hsl(0, 0%, 60%);
   --ivory: hsl(60, 30%, 95%);
   --red-dark: hsl(0, 45%, 45%);
   --red-light: hsl(0, 45%, 90%);
}
header,
section.page,
section.section {
   align-items: center;
}
article.term,
nav.section > a {
   background: var(--blue-light);
}
header {
   background: var(--red-dark);
}
footer > a,
main.taxonomy > a,
main.term > a,
section.page > a,
section.section > a,
tr:nth-child(odd) > td {
   background: var(--red-light);
}
table {
   border-collapse: collapse;
}
td {
   border-color: var(--gray-light);
}
article.section {
   border-color: var(--red-dark);
}
article.section,
article.term,
footer > a,
main.taxonomy > a,
main.term > a,
nav.section > a,
section.page > a,
section.section > a {
   border-radius: .5rem;
}
article.page,
article.section,
td {
   border-style: solid;
}
article.section {
   border-width: thick;
}
article.term > a,
nav.section > a {
   color: var(--blue-dark);
}
main > h1,
main.page > h2,
section.term,
td.page,
td.section {
   color: var(--gray-dark);
}
time {
   color: var(--gray-medium);
}
header > a,
header > h1 > a,
header > h2 > a,
main.taxonomy > a {
   color: var(--ivory);
}
a.page,
article.section > h2 > a,
footer > a,
main.page > h1 > a,
main.page > p > a,
main.page > ul > li > a,
main.section > a,
main.section > h1 > a,
main.section > p > a,
main.section > ul > li > a,
main.taxonomy > a,
main.term > a,
section.page > a,
section.section > a,
td > a {
   color: var(--red-dark);
}
footer,
header.home,
nav.home,
nav.section,
nav.taxonomy,
section.section {
   column-gap: 1rem;
}
footer,
header,
nav.home,
nav.section,
nav.taxonomy,
section.page,
section.section {
   display: flex;
}
article.page,
article.section {
   flex-basis: 400px;
}
footer,
header,
nav.home,
nav.section,
nav.taxonomy,
section.section {
   flex-wrap: wrap;
}
body {
   font-family: sans-serif;
}
main.page > div.highlight,
main.section > div.highlight {
   font-size: 1rem;
}
a.page,
main.page > p,
main.page > ul,
main.section > a,
main.section > p,
main.section > ul,
main.taxonomy > a,
nav.section,
nav.taxonomy,
table,
time {
   font-size: 1.2rem;
}
footer,
header > a {
   font-size: 1.4rem;
}
header > h2 {
   font-size: 2rem;
}
header > h1 {
   font-size: 3rem;
}
footer,
nav.home {
   justify-content: center;
}
header {
   justify-content: space-evenly;
}
main.page > div.highlight {
   line-height: 1.2rem;
}
main.page > ul,
main.section > ul {
   line-height: 1.5rem;
}
header > h1,
header > h2 {
   margin-bottom: 0;
}
article.section > h2 {
   margin-bottom: .5rem;
}
footer,
header.home {
   margin-bottom: 1rem;
}
body {
   margin-left: 0;
}
footer,
main {
   margin-left: 2%;
}
section.page > a {
   margin-left: 1rem;
}
body {
   margin-right: 0;
}
footer,
main {
   margin-right: 2%;
}
article.section > h2,
body,
header > h1,
header > h2 {
   margin-top: 0;
}
footer,
nav.section,
nav.taxonomy,
section.term,
table {
   margin-top: 1rem;
}
pre {
   overflow: auto;
}
footer > a,
header.page,
header.section,
header.taxonomy,
header.term,
main.taxonomy > a,
main.term > a,
section.page > a,
section.section > a,
td {
   padding-bottom: .5rem;
}
main.page > div > pre,
main.section > div > pre {
   padding-bottom: .8rem;
}
article.section,
article.term,
header.home,
nav.section > a {
   padding-bottom: 1rem;
}
main.page > div > pre,
main.section > div > pre {
   padding-left: .8rem;
}
article.section,
article.term,
footer > a,
main.page > ul,
main.section > ul,
main.taxonomy > a,
main.term > a,
nav.section > a,
section.page > a,
section.section > a,
td {
   padding-left: 1rem;
}
article.section,
article.term,
footer > a,
main.taxonomy > a,
main.term > a,
nav.section > a,
section.page > a,
section.section > a,
td {
   padding-right: 1rem;
}
footer > a,
header.page,
header.section,
header.taxonomy,
header.term,
main.taxonomy > a,
main.term > a,
section.page > a,
section.section > a,
td {
   padding-top: .5rem;
}
main.page > div > pre,
main.section > div > pre {
   padding-top: .8rem;
}
article.section,
article.term,
header.home,
nav.section > a {
   padding-top: 1rem;
}
footer,
nav.home,
nav.section,
nav.taxonomy {
   row-gap: 1rem;
}
section.term {
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
