body {
   --gray-25: hsl(0, 0%, 25%);
   --gray-60: hsl(0, 0%, 60%);
   --gray-80: hsl(0, 0%, 80%);
   --ivory: hsl(60, 30%, 95%);
   --light-red: hsl(0, 45%, 90%);
   --red: hsl(0, 45%, 45%);
}
header,
section.page,
section.section {
   align-items: center;
}
article.term,
footer > ul > li,
section.page > a,
section.section > a,
tr:nth-child(odd) > td {
   background: var(--light-red);
}
header,
nav.section > a {
   background: var(--red);
}
table {
   border-collapse: collapse;
}
td {
   border-color: var(--gray-80);
}
article.section {
   border-color: var(--red);
}
article.section,
article.term,
footer > ul > li,
nav.section > a,
section.page > a,
section.section > a {
   border-radius: .5rem;
}
article.page,
article.section,
td {
   border-style: solid;
}
article.section {
   border-width: thick;
}
section.term,
td.page,
td.section {
   color: var(--gray-25);
}
time {
   color: var(--gray-60);
}
header > a,
header > h1 > a,
header > h2 > a {
   color: var(--ivory);
}
nav.section > a {
   color: var(--light-red);
}
a.page,
article.section > h2 > a,
article.term > a,
footer > ul > li > a,
main.page > p > a,
main.page > ul > li > a,
main.taxonomy > a,
section.page > a,
section.section > a,
td > a {
   color: var(--red);
}
footer > ul,
header,
nav.home,
nav.section,
nav.taxonomy,
section.page,
section.section {
   display: flex;
}
article.page,
article.section {
   flex-basis: 400px;
}
header,
nav.home,
nav.section,
nav.taxonomy,
section.section {
   flex-wrap: wrap;
}
body {
   font-family: sans-serif;
}
main.page > div.highlight {
   font-size: 1rem;
}
a.page,
main.page > p,
main.page > ul,
main.taxonomy > a,
nav.section,
nav.taxonomy,
table,
time {
   font-size: 1.2rem;
}
footer,
header > a {
   font-size: 1.4rem;
}
header > h2 {
   font-size: 2rem;
}
header > h1 {
   font-size: 3rem;
}
header.home,
nav.home,
nav.section,
nav.taxonomy,
section.section {
   gap: 1rem;
}
footer > ul,
nav.home {
   justify-content: center;
}
header {
   justify-content: space-evenly;
}
main.page > div.highlight {
   line-height: 1.2rem;
}
main.page > ul {
   line-height: 1.5rem;
}
header > h1,
header > h2 {
   margin-bottom: 0;
}
article.section > h2 {
   margin-bottom: .5rem;
}
header.home {
   margin-bottom: 1rem;
}
body {
   margin-left: 0;
}
main {
   margin-left: 2%;
}
footer > ul > li {
   margin-left: .5rem;
}
section.page > a {
   margin-left: 1rem;
}
body {
   margin-right: 0;
}
main {
   margin-right: 2%;
}
footer > ul > li {
   margin-right: .5rem;
}
article.section > h2,
body,
header > h1,
header > h2 {
   margin-top: 0;
}
nav.section,
nav.taxonomy,
section.term,
table {
   margin-top: 1rem;
}
footer > ul > li,
header.page,
header.section,
header.taxonomy,
header.term,
section.page > a,
section.section > a,
td {
   padding-bottom: .5rem;
}
article.section,
article.term,
header.home,
main.page > div > pre,
nav.section > a {
   padding-bottom: 1rem;
}
article.section,
article.term,
footer > ul > li,
main.page > div > pre,
main.page > ul,
nav.section > a,
section.page > a,
section.section > a,
td {
   padding-left: 1rem;
}
article.section,
article.term,
footer > ul > li,
nav.section > a,
section.page > a,
section.section > a,
td {
   padding-right: 1rem;
}
footer > ul > li,
header.page,
header.section,
header.taxonomy,
header.term,
section.page > a,
section.section > a,
td {
   padding-top: .5rem;
}
article.section,
article.term,
header.home,
main.page > div > pre,
nav.section > a {
   padding-top: 1rem;
}
section.term {
   text-align: center;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
